@use "../../styles/abstracts/mixins";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: 48px;
  padding-inline: 24px;

  border: 0;
  border-radius: var(--radius-md);

  font-weight: 600;

  gap: 8px;

  transition:
    transform var(--transition-fast),
    background-color var(--transition-fast);

  &:hover {
    transform: translateY(-2px);
  }

  svg {
    transition: transform var(--transition-fast);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover svg {
      transform: translate(3px, -3px);
    }
  }

  @include mixins.focus-visible;
}

.button--primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.button--secondary {
  color: var(--color-text);
  background: var(--color-background-secondary);
}

.button--ghost {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background: transparent;
}

.button--text {
  padding-inline: 0;
  color: var(--color-primary);
  background: transparent;
}